<div>
  <h3 class="authentication--title">Sign in</h3>
  <form class="authentication--form">
    <fieldset>
      <label for="username">Username/email</label>
      <input id="username" name="username" type="text">
    </fieldset>
    <fieldset>
      <label for="password">Password</label>
      <input id="password" name="password" type="password">
    </fieldset>
    <fieldset>
      <button id="modalLoginButton" type="button" class="btn btn-primary">Login</button>
    </fieldset>
  </form>
</div>
<div class="row">
  <div class="col-sm-10 col-lg-6">
    <p> Or <a class= "js-external" href="/register" target="_blank">create an account</a> </p>
  </div>
</div>
