<% if (dcBanner) { %>
<div class="dc-footer">
  <span class="dc-footer--text">
    Put your R skills to the test
  </span>
  <a class="dc-footer--link btn btn-primary" href="https://assessment.datacamp.com/r-programming?utm_source=rdocumentation-footer&utm_medium=footer-cta">Start Now</a>
  <span class="dc-footer--cross"><i class="fa fa-times" aria-hidden="true"></i></span>
</div>
<% }%>
