<% if (dcBanner) { %>
<div class="dc-footer">
  <span class="dc-footer--text">
    Learn R by doing at DataCamp
  </span>
  <a class="dc-footer--link btn btn-secondary" href="https://www.datacamp.com">Free Trial</a>
  <span class="dc-footer--cross"><i class="fa fa-times" aria-hidden="true"></i></span>
</div>
<% }%>
