<div class="modal" class="dc-modal js-dc-modal">
  <img src="https://assets.datacamp.com/production/tracks/19/badges/original/R-career-track-data-programmer_2x-final.png" />
  <h2 id="modal-headline">
    Learn the Tidyverse
  </h2>
  <p>Learn R's most popular packages (such as ggplot2, dplyr, stringr, and more) straight from the experts who built them.</p>
  <a href='https://www.datacamp.com/tidyverse-tutorials' class="dc-modal-cta ds-snowplow-link-rdocs-modal-cta">Try it free</a>
  <a href='#close' rel="modal:close" class="dc-modal-close">(no thanks)</a>
</div>

<style>
  .dc-modal {
    background-image: linear-gradient(47deg, #2388b0, #3ac);
    padding: 30px 8px 16px;
    text-align: center;
  }

  .dc-modal img {
    height: 150px;
    margin-bottom: 18px;
  }

  .dc-modal h2 {
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    margin: auto;
    max-width: 550px;
  }

  .dc-modal p {
    color: #fff;
    font-size: 16px;
    margin: 10px 0 24px;
    line-height: 1.6;
  }

  .dc-modal .dc-modal-cta {
    -webkit-font-smoothing: antialiased;
    background-color: #ffc844;
    border: none;
    border-radius: 4px;
    color: #3d4251;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: inherit;
    padding: 11px 15px;
    text-align: center;
    transition: background-color 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
      border-color 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
      color 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .dc-modal .dc-modal-cta:hover {
    background: #fbe28d;
  }

  .dc-modal .dc-modal-close {
    border: none;
    color: #fff;
    display: block;
    font-size: 12px;
    margin-top: 12px;
    opacity: 0.6;
    transition: opacity 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .dc-modal .dc-modal-close:hover {
    color: #fff;
    opacity: 0.8;
  }
</style>
