<% if (messages && messages['error'].length > 0) { %>
  <% messages['error'].forEach(function(message) { %>
    <div class="flash flash-error">
      <%= message %><div class="close"></div>
    </div>
  <% }); %>
<% } %>
<% if (messages && messages['warning'].length > 0) { %>
  <% messages['warning'].forEach(function(message) { %>
    <div class="flash flash-primary">
      <%= message %><div class="close"></div>
    </div>
  <% }); %>
<% } %>
<% if (messages && messages['success'].length > 0) { %>
  <% messages['success'].forEach(function(message) { %>
    <div class="flash flash-success">
      <%= message %><div class="close"></div>
    </div>
  <% }); %>
<% } %>