<div class="footer">
	<p class="footer--credits">Created by <a href="https://www.datacamp.com">DataCamp.com</a></p>
  <div class="navbar--title">
	<a href=https://github.com/datacamp/rdocumentation>
		<div class="github"></div>
		<div class="logo-title">R documentation R package</div>
	</a>
   </div>
   <div class="navbar--title">
  	<a href=https://github.com/datacamp/rdocumentation-app>
  		<div class="github"></div>
  		<div class="logo-title">Rdocumentation.org</div>
  	</a>
  </div>
</div>