<div class="modal js-demo-modal demo-modal">
  <div class="demo-modal__header">
    <h2>
      Learn R at Work.
    </h2>
    <p>See how the world's most forward-thinking compaies are preparing their employees for the future with DataCamp for Business.</p>
  </div>

  <form class="demo-modal__form">
    <div class="demo-modal__form-group">
      <label for="first_name">First Name</label>
      <input type="text" name="first_name" id="first_name" required />
    </div>
    <div class="demo-modal__form-group">
      <label for="last_name">Last Name</label>
      <input type="text" name="last_name" id="last_name" required />
    </div>
    <div class="demo-modal__form-group">
      <label for="work_email">Work Email</label>
      <input type="email" name="work_email" id="work_email" required />
    </div>
    <div class="demo-modal__form-group">
      <label for="phone">Phone</label>
      <input type="phone" name="phone" id="phone" required />
    </div>
    <div class="demo-modal__form-group">
      <label for="company">Company</label>
      <input type="text" name="company" id="company" required />
    </div>
    <div class="demo-modal__form-group">
      <label for="seats">Number of Seats</label>
      <input type="number" name="seats" id="seats" required />
    </div>
    <div class="demo-modal__form-group">
      <input type="submit" value="Request Demo" class="demo-form__cta" />
    </div>
  </form>

  <div class="demo-modal__logos">
    <div class="demo-modal__logo"><img src="/images/groups/uber.svg" /></div>
    <div class="demo-modal__logo"><img src="/images/groups/deloitte.svg" /></div>
    <div class="demo-modal__logo"><img src="/images/groups/nielsen.svg" /></div>
    <div class="demo-modal__logo"><img src="/images/groups/paypal.svg" /></div>
    <div class="demo-modal__logo"><img src="/images/groups/intel.svg" /></div>
    <div class="demo-modal__logo"><img src="/images/groups/airbnb.svg" /></div>
  </div>
</div>

<style>
  .demo-modal {
    padding: 0;
    text-align: center;
    max-width: 600px;
    width: 90%;
  }

  .demo-modal__header {
    background-image: linear-gradient(268deg, #405f8f, #1c3050);
    padding: 40px 30px 15px;
    border-radius: 5px 5px 0 0;
  }

  .demo-modal h2 {
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    margin: auto;
  }

  .demo-modal p {
    color: #fff;
    font-size: 16px;
    margin: 10px 0 24px;
    line-height: 1.6;
  }

  .demo-modal__logos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px 20px 10px;
    background: #FAFAFA;
    border-radius: 0 10px 10px;
  }

  .demo-modal__logo {
    margin: 5px 20px;
    display: flex;
    align-items: center;
    height: 60px;
  }

  .demo-modal__logos img {
    max-width: 100%;
  }

  .demo-modal__form-group label {
    text-align: left;
    margin
  }

  .demo-modal__form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10px 0 20px;
  }

  .demo-modal__form-group {
    width: 45%;
  }

  .demo-modal__form-group label {
    display: block;
    text-align: left;
    margin: 12px 0 2px;
    font-weight: 400;
    color: #888;
    font-size: 13px;
  }

  .demo-form__cta {
    background-color: #ffc844;
    border-color: #ffc844;
    color: #3d4251;
    margin-top: 20px;
    font-weight: 700;
    padding-bottom: 14px;
    transition: background-color .3s cubic-bezier(.77,0,.175,1),border-color .3s cubic-bezier(.77,0,.175,1),color .3s cubic-bezier(.77,0,.175,1);
  }

  .demo-form__cta:hover {
    background-color: #fbe28d;
    border-color: #fbe28d;
    color: #3d4251;
  }

  @media screen and (max-width: 600px) {
    .demo-modal__form-group {
      width: 90%;
    }
  }
</style>
