<section class="bg bg-navigation">
  <nav class="clearfix">
    <div class="navbar--title">
      <a href="/">
        <div class="logo"></div>
        <div class="logo-title">RDocumentation</div>
      </a>
    </div>
    <div class="navbar--search">
      <form class="search" action="/search">
        <input name="q" type="text" placeholder="Search for packages, functions, etc" autocomplete="off">
        <div class="search--results"></div>
      </form>
    </div>
    <%- partial ('_navigation.ejs') %>
  </nav>
</section>