<section class="bg bg-navigation navbar navbar-fixed-top">
  <nav class="clearfix">
    <% if(inViewerPane) {%>
      <div class="rstudio-navigation pull-left">
        <button class="btn btn-primary-light rstudio-navbutton rstudio-back"><i class="fa fa-chevron-left rstudio-back-arrow" style="font-size:15px"></i></button>
        <button class="btn btn-primary-light rstudio-navbutton rstudio-forward"><i class="fa fa-chevron-right rstudio-forward-arrow" style="font-size:15px"></i></button>
      </div>
    <% } %>
    <div class="navbar--title">
      <a href="/">
        <div class="logo"></div>
        <div class="logo-title"><span>RDocumentation</span></div>
      </a>
    </div>


    <%- partial ('_navigation.ejs') %>


    <div class="navbar--search">
      <form class="search" action="/search" method="get">
        <input name="q" id = "searchbar" type="text" placeholder="Search for packages, functions, etc" autocomplete="off">
        <div class="search--results"></div>
      </form>
    </div>
  </nav>
</section>
