<ul class="navbar--navigation">
  <% if(typeof(user) === 'undefined') { %>
    <li><a href="/register" class="btn btn-primary">Create account</a></li>
    <li><a href="/login" class="btn btn-secondary">Sign in</a></li>
  <% } else { %>
    <li><a href="/users/me" class="link"><%= user.username %></a></li>
    <li><a href="/logout" class="link">Log out</a></li>
  <% } %>
</ul>