<section class="bg bg-navigation">
  <nav class="clearfix">
    <div class="navbar--title">
      <a href="/">
        <div class="logo"></div>
        <div class="logo-title">RDocumentation</div>
      </a>
    </div>
    <div class="navbar--search">
      <form class="search" action="">
        <input type="text" placeholder="Search for packages, functions, authors, etc">
        <div class="results">
          <ul class="packages">
            <li class="header">Packages</li>
          </ul>
          <ul class="topics">
            <li class="header">Topics</li>
          </ul>
        </div>
      </form>
    </div>

    <% if(!inViewerPane) { %>
      <%- partial ('_navigation.ejs') %>
    <% } %>
  </nav>
</section>