<section class="bg bg-navigation navbar">
  <nav class="clearfix">
    <div class="navbar--title">
      <a href="/">
        <div class="logo"></div>
        <div class="logo-title"><span>RDocumentation</span></div>
      </a>
    </div>


    <% if(!inViewerPane) { %>
      <%- partial ('_navigation.ejs') %>
    <% } %>

    <ul class="navbar--navigation largescreen">
    <% if(!inViewerPane) { %>
        <li><a href="https://github.com/datacamp/Rdocumentation" class="btn btn-secondary">R package</a></li>
    <% } %>
        <li><a href="/trends" class="btn btn-secondary">Leaderboard</a></li>
    </ul>
    <div class="navbar--search">
      <form class="search" action="/search">
        <input name="q" id = "searchbar" type="text" placeholder="Search for packages, functions, etc" autocomplete="off">
        <div class="search--results"></div>
      </form>
    </div>
  </nav>
</section>
