<% if (percentilePath) { %>
 <div class="percentile-widget percentile-task" data-url="<%= percentilePath %>">
  <span class="percentile-th">
    <span class='percentile'>0th</span>
  </span>
  <p>Percentile</p>
</div>
<% } else { %>
<div class="percentile-widget" style="visibility: visible;">
  <span class="percentile-th">
    <span class='percentile'><%= percentile %>th</span>
  </span>
  <p>Percentile</p>
</div>
<% } %>
