<div class="example--form">
  <div class="example--form-body">
    <form method="post" action='<%= examplePostAction %>'>
      <fieldset class="example--form-text">
        <label for="text"><h3 id="postExampleTitle">Post a new example:</h3></label>
        <textarea name='text' rows="4" id="postExampleText"></textarea>
      </fieldset>
      <fieldset>
        <% if(user){ %>
        <button class="btn btn-primary pull-right" type="submit">Submit your example</button>
        <% }else{ %>
        <a id="openModalExample" href="/modalLogin" rel = "modal:open"><button class="btn btn-primary pull-right" type="button">Submit your example</button></a>
        <% } %>
      </fieldset>
    </form>
  </div>
</div>
