.btn {
    border: none;
    display: inline-block;
    text-decoration: none;
    border-radius: $button-radius;
    font-size: $button-font-size;
    font-weight: $button-font-weight;
    line-height: $button-line-height;
    padding: 0.5rem 1.875rem;
    transition: background-color $default-duration ease, color $default-duration ease;
    text-align: center;

    &:hover, &:focus, &:active:focus {
        outline: none;
    }

    .fa {
        margin-right: 0.5rem;
    }
}

.btn.disabled, .btn:disabled {
    background-color: $primary-lighter;
    color: $text-invert;
    &:hover {
        background-color: $primary-lighter;
        color: $text-invert;
    }
}

@mixin color-button($bg, $color, $hover){
    background-color: $bg;
    color: $color;
    &:hover,
    &:focus { background-color: $hover; color: $color;}
}

.btn-primary {
    @include color-button($accent, $accent-dark, $accent-light);
}

.btn-secondary {
    @include color-button($primary, $text-invert, $primary-light);
}

.btn-secondary-light {
    @include color-button($primary-light, $text-invert, $primary-lighter);
    &:hover { color: $primary-dark; }
}

.btn-tertiary {
    @include color-button($text, $text-invert, $text-secondary);
    padding: 0.3125em 1.25em;
    font-size: $default-font-size;
}

.btn-danger {
    @include color-button($danger, $text-invert, $danger-light);
}

.btn-facebook {
    @include color-button(rgba(57, 87, 154, 1), $text-invert, rgba(57, 87, 154, 0.8));
}

.btn-github {
    @include color-button(rgba(23, 21, 21, 1), $text-invert, rgba(23, 21, 21, 0.8));
}

.btn-twitter {
    @include color-button(rgb(0, 172, 237), $text-invert, rgba(0, 172, 237, 0.8));
}

.btn-linkedin {
    @include color-button(rgba(0, 118, 183, 1), $text-invert, rgba(0, 118, 183, 0.8));
}

.btn-linkedin-share {
    @include color-button(rgba(0, 118, 183, 1), $text-invert, rgba(0, 118, 183, 0.8));
    padding: 5px 9px !important;
}

.btn-google-plus {
    @include color-button(rgba(223, 74, 50, 1), $text-invert, rgba(223, 74, 50, 0.8));
}

.btn-inv {
    border: 1px solid $primary-light;
    @include color-button(white, $primary-light, $primary-extra-light);
}

.btn-small {
    border-radius: $button-small-radius;
    font-size: $button-small-font-size;
    line-height: $button-small-line-height;
    margin: 0.5rem 0.5rem;
    padding: 0.5rem 1.5rem;
}

$btn-large-scale: 1.35;
.btn-large {
    font-size: $btn-large-scale * $button-font-size;
    line-height: $btn-large-scale * 0.9 * $button-line-height;
}

// Helper classes
.btn-group .btn:first-child { margin-left: 0; }
.btn-group .btn:last-child { margin-right: 0; }
