.card {
	background-color: white;
	color: $text;
	text-align: center;
	padding: 1.25rem 1.875rem;
	margin: 1.875rem 0;
}

.card-small {
	padding: 1rem;
}

.card-primary {
	background-color: $primary;
	color: $text-invert;
}

.card-primary-ultralight {
	background-color: $primary-ultra-light;
}

.card-primary-extralight {
	background-color: $primary-extra-light;
}

.card-accent {
	background-color: $accent;
	color: $text-invert;
}

.card-accent-ultralight {
	background-color: $accent-ultra-light;
}

.card-outline--primary {
	border: $card-outline-width solid $primary;
}

.card-outline--lighter {
	border: $card-outline-width solid $primary-lighter;
}

.card-outline--extralight {
	border: $card-outline-width solid $primary-extra-light;
}

.card-outline--accent {
	border: $card-outline-width solid $accent;
}

.card-circle-top {
	padding-top: 3.125em;
	margin-top: 3.75em;
	position: relative;

  .card-circle-top-image {
    position: absolute;
    top: 0;
    left: 50%;
    @include translate(-50%,-50%);
	}
}
