.bottom-navigation {
	padding: $header-margin 0;
	margin-top: $default-space;
	border-top: 1px solid $primary-extra-light;

	ul.inline {
		float: left;
		margin-left: 2rem;
		line-height: 42px;
	}

	ul li a {
		color: $text-tertiary;
		border-bottom: none;
	}
	ul li:after {
		color: $text-tertiary;
	}

	.navbar--title {
		float:left;

		.logo {
			background: image-url("logos/logo_dark.svg") no-repeat center center;
			background-size: contain;
		}
		.logo-title {
			color: $text-secondary !important;
		}

		.small-link {
			color: $primary;

			&:hover, &:focus {
				color: $primary-dark;
			}
		}
	}
}
