.footer {
	padding: $header-margin 0;
	margin-top: $default-space;
	border-top: 1px solid $primary-extra-light;

	@include clearfix;

	.navbar--title {
		float:left;
		margin-left: $default-space;

		.logo {
			background: url("../images/logo-dark.png") no-repeat center center;
			background-size: contain;
			width: 20px;
			height: 20px;
		}
		.logo-title {
			font-size: 1rem;
			color: $text-tertiary !important;
			margin-top: 3px;
		}
	}
}

.footer .navbar--title{
    float: right;
    z-index: 1;
}



.footer--credits--title {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 100%;

  .footer--credits {
    font-size: $h5-size;
    font-weight: 500;
    margin: 0 0 0 3px;
    line-height: $navbar-height - 10px;
  }

}

@media (min-width: 670px) and (max-width: 1180px){
	.footer--credits--title {
  		margin:auto;
  		float: right;
  		position:relative;
  		display: inline-block;
  		text-align: initial;
  		width:initial;
	}
}

@media (max-width: 670px){
	.navbar--title.footer-largescreen{
		display: none;
	}
}
