.footer {
	padding: $header-margin 0;
	margin-top: $default-space;
	border-top: 1px solid $primary-extra-light;

	@include clearfix;

	.navbar--title {
		float:left;
		margin-left: $default-space;

		.logo {
			background: url("../images/logo-dark.png") no-repeat center center;
			background-size: contain;
			width: 20px;
			height: 20px;
		}
		.logo-title {
			font-size: 1rem;
			color: $text-tertiary !important;
		}
	}
}

.footer .navbar--title{
    float: right;
}



.footer--credits--title {
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    .footer--credits {
    display: inline-block;
    position: relative;
    font-size: $h5-size;
    font-weight: 500;
    margin: 0 0 0 3px;
    display: block;
    line-height: $navbar-height - 10px;
}
    
}

@media (min-width: 800px) and (max-width: 1180px){
	.footer--credits--title {
	position: relative;
    display: inline-block;
    float: right;
    left: initial;
    transform : initial;
	}
}
