.footer {
	padding: $header-margin 0;
	margin-top: $default-space;
	border-top: 1px solid $primary-extra-light;

	@include clearfix;

	.navbar--title {
		float:left;
		margin-left: $default-space;

		.logo {
			background: url("../images/logo-dark.png") no-repeat center center;
			background-size: contain;
			width: 20px;
			height: 20px;
		}
		.logo-title {
			font-size: 1rem;
			color: $text-tertiary !important;
		}
	}
}
