.footer {
	padding: $header-margin 0;
	margin-top: $default-space;
	border-top: 1px solid $primary-extra-light;

	@include clearfix;

	.navbar--title {
		float:left;
		margin-right: $default-space;

    a {
      display: inline-block;
      margin-left: 0;
    }

		.logo {
			background: url("../images/logo-dark.png") no-repeat center center;
			background-size: contain;
			width: 20px;
			height: 20px;
		}
		.logo-title {
			font-size: 1rem;
			color: $text-tertiary !important;
			margin-top: 0;
      line-height: 25px;
      vertical-align: middle
		}
	}
}

.footer .navbar--title{
    float: right;
    margin-top: 0;
    margin-bottom: 0;
    z-index: 1;
}



.footer--credits--title {
    float: left;
    position:relative;
    left: 50%;

  .footer--credits {
    font-size: $h5-size;
    font-weight: 500;
    position: relative;
    left: -50%;
    margin: 0 0 0 3px;
    line-height: $navbar-height - 10px;
  }

}


@media (max-width: 850px){
	.navbar--title.footer-largescreen{
		display: none;
	}
}
