.navbar {
  font-size: small;
  padding: 0.2em;
  height: $navbar-height;
  position: relative;
  border-bottom: 1px solid $primary-extra-light;
  nav {
    height: 100%;
  }
}

.navbar-color {
  background-color: $primary;
  background-image: linear-gradient(transparent 90%, rgba(0,0,0,0.01)),linear-gradient(173deg, #3AAACA, #2389B1);
  color: $text-invert;
}


.navbar-fixed-top {
  top: 0;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}

.navbar-fixed-placeholder {
  height: 30px;
}

.navbar--title {
  display: table;
  height: 100%;
  float: left;
  position: relative;
  a {
    display: table;
    height: 100%;
    border-bottom: none;
    margin-left: 1rem;
  }
  a:focus{
    border-bottom: none;
  }
  .logo {
      background: url("../images/logo.png") no-repeat center center;
      background-size: contain;
      width: 17px;
      vertical-align: middle;
      display: table-cell;
      position:relative;
      top: -1px;
  }
  .github {
      background: url("../images/GitHub-Mark-32px.png") no-repeat center center;
      display: inline-block;
      background-size: contain;
      height: 21px;
      width: 21px;
      vertical-align: middle;
  }

  .logo-title {
    font-size: 1.2em;
    font-weight: 500;
    color: $text-invert;
    &:hover, &:focus {color: $text-invert }
    margin: 0 0 0 3px;
    display: inline-block;
  }
}

$navbar-search-width: 27%;
$navbar-search-results-width: 32%px;
.navbar--search {
  width: $navbar-search-width;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  input {
      padding: 0.1rem 0.5rem;
  }

  .search .results {
      width: $navbar-search-results-width;
      left: ($navbar-search-width - $navbar-search-results-width) / 2.0;
  }
}
button.rstudio-navbutton{
    padding:5px;
    padding-bottom:0px;
    background-color: transparent;
    color: $primary;
}

@media (max-width: 670px){
  .navbar--navigation.largescreen{
    display: none;
  }
  .navbar--title.largescreen{
    display: none;
  }
  .logo-title.largescreen{
    display: none;
  }
  .navbar--search{
    width: 50%;
    transform: translateX(0%);
    left: 47%;
  }
}
@media (max-width: 402px){
  .navbar--title .logo-title{
    display: none;
  }
  .navbar--search{
    width: 70%;
    transform: translateX(0%);
    left: 28%;
  }
}


.navbar--navigation {
  @extend ul.inline;
  display: inline-block;
  float: right;
  margin-right: 10px;

  .link {
    color: white;
    border-bottom-color: white;
    &:focus,
    &:hover {
        color: inherit;
    }
  }

  .btn {
    margin: 0;
    line-height: 1.3;
    font-size: 0.7rem;
    font-weight: 500;
    padding: 5.6px 0.875rem;
  }
}
