.navbar--title {
    display: inline-block;
    float: left;
    position: relative;
    .logo {
        background: url("../images/logo.png") no-repeat center center;
        float: left;
        background-size: contain;
        display: block;
        height: 21px;
        width: 21px;
        vertical-align: middle;
        margin-top: 3px;
        margin-left: 2px;
    }
    .github {
        background: url("../images/GitHub-Mark-32px.png") no-repeat center center;
        float: left;
        background-size: contain;
        display: block;
        height: 21px;
        width: 21px;
        vertical-align: middle;
        margin-top: 3px;
        margin-left: 2px;
    }

    .logo-title {
        font-size: $h5-size;
        font-weight: 500;
        color: $text-invert;
        &:hover, &:focus {color: $text-invert }
        margin: 0 0 0 3px;
        display: block;
        float: left;
        line-height: $navbar-height - 10px;
    }
}

$navbar-search-width: 27%;
$navbar-search-results-width: 32%px;
.navbar--search {
    width: $navbar-search-width;
    position: absolute;
    left: 50%;
    top: 6px;
    transform: translateX(-50%);

    input {
        padding: 0.1rem 0.5rem;
    }

    .search .results {
        width: $navbar-search-results-width;
        left: ($navbar-search-width - $navbar-search-results-width) / 2.0;
    }
}
@media (max-width: 950px){
    .navbar--search{
    top: 3px;
    float: right;
    left : initial;
    transform: initial;
    position: relative;
    margin-right: 10px;
    }
}

@media (max-width: 750px){
    .navbar--navigation.largescreen{
    display: none;
    }
    .navbar--title.largescreen{
    display: none;
    }
    .logo-title.largescreen{
    display: none;
    }
    .navbar--search{
    width: 250px;
    top: 1px;
    margin-right: 5px;
    }
}


.navbar--navigation {
    @extend ul.inline;
    display: inline-block;
    float: right;
    margin-top: 4px;
    margin-right: 10px;

    .link {
        color: white;
        border-bottom-color: white;
        &:focus,
        &:hover {
            color: inherit;
        }
    }

    .btn {
        margin: 0;
        line-height: 1.3;
        font-size: 0.9rem;
        padding: 0.4rem 0.875rem;
    }
}