.navbar--title {
    display: inline-block;
    float: left;
    position: relative;
    .logo {
        background: url("../images/logo.png") no-repeat center center;
        float: left;
        background-size: contain;
        display: block;
        height: 25px;
        width: 25px;
    }

    .logo-title {
        font-size: $h5-size;
        font-weight: 500;
        color: $text-invert;
        &:hover, &:focus {color: $text-invert }
        margin: 0 0 0 10px;
        display: block;
        float: left;
        line-height: $navbar-height - 10px;
    }
}

.navbar--search {
    width: 200px;
    position: absolute;
    left: 50%;
    top: 12px;
    transform: translateX(-50%);

    input {
        padding: 0.5rem 1rem;
    }
}