@import url('//use.fontawesome.com/releases/v4.6.3/css/font-awesome-css.min.css');
@font-face{font-family:'FontAwesome';src:url('//use.fontawesome.com/releases/v4.6.3/fonts/fontawesome-webfont.eot');src:url('//use.fontawesome.com/releases/v4.6.3/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
url('//use.fontawesome.com/releases/v4.6.3/fonts/fontawesome-webfont.woff2') format('woff2'),
url('//use.fontawesome.com/releases/v4.6.3/fonts/fontawesome-webfont.woff') format('woff'),
url('//use.fontawesome.com/releases/v4.6.3/fonts/fontawesome-webfont.ttf') format('truetype'),
url('//use.fontawesome.com/releases/v4.6.3/fonts/fontawesome-webfont.svg#fontawesomeregular') format('svg');font-weight:normal;font-style:normal;}

html {
    font-size: 15px;
}

body {
    font-size: $default-font-size;
    line-height: $default-line-height;
    font-family: $font-family;
    color: $text;
    font-weight: 300;
}

h1, h2, h3, h4, h5 {
  line-height: $header-line-height;
  margin: 0.25em 0;
  font-weight: 700;
}

h1 { font-size: $h1-size; }
h2 { font-size: $h2-size; }
h3 { font-size: $h3-size; }
h4 { font-size: $h4-size; }
h5 { font-size: $h5-size; }

.text-small { font-size: $small-font-size; }
.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }

.text-primary { color: $text;}
.text-secondary { color: $text-secondary;}
.text-tertiary { color: $text-tertiary;}
.text-invert-secondary { color: $text-invert-secondary;}

a {
    transition: color $default-duration ease-out;
    color: $link-color;
    text-decoration: none;
    border-bottom: 1px solid $primary;
}
a:hover {
    color: $primary-dark;
    text-decoration: none;
}
a:focus {
    color: $primary;
    border-bottom: 1px solid $primary;
    outline: none;
    text-decoration: none;
}

code,
mark {
    background-color: $primary-extra-light;
    border-radius: $border-radius;
}
code,
pre {
    font-family: monospace;
    font-size: $small-font-size;
    background-color: #eaeef3;
}
code {
    display: inline-block;
    line-height: 1;
    margin: 0 0.25em;
    padding: 0.2em 0.4em 0.35em 0.4em;
    color: $text;
}

pre code.hljs {
    padding: 1rem;
    line-height: $default-line-height;
    background: $primary-extra-light;
}
mark {
    color: $primary-dark;
    font-weight: 600;
    padding: 0 0.4em;
}
mark::-moz-selection,
mark::selection {
    background-color: $primary-dark;
    color: white
}

dl {
    @include clearfix;
    dt {
        font-weight: bold;
        float: left;
        margin-right: 15px;
    }
    dd {
        margin-left: 100px;
        margin-bottom: 1rem;
    }
}
