<%- partial ('shared/_navbar.ejs') %>
<section class="error-page">
  <div class="error-page--content">
    <header>
      <h1>403</h1>
      <h2>Forbidden</h2>
    </header>
    <section>
      You don't have permission to see the page you're trying to reach.
    </section>
  </div>
</section>

<%- partial ('shared/_footer.ejs') %>