<%- partial ('shared/_navbar.ejs') %>
<section class="error-page">
  <div class="error-page--content">
    <header>
      <h1>404</h1>
      <h2>Page not found</h2>
    </header>
    <section>
      The page you were trying to reach doesn't exist.
    </section>
  </div>
</section>

<%- partial ('shared/_footer.ejs') %>