<section class="error-page">
  <div class="error-page--content">
    <header>
      <h1>500</h1>
      <h2>Internal Server Error</h2>
      <h3>Something isn't right here.</h3>
    </header>
    <section>
      We have been notified of the issue.
      If the problem persists, please create an issue on our <a href="https://github.com/datacamp/rdocumentation-app/issues" target="_blank">github page</a>.
    </section>
  </div>
</section>
