<section class="bg bg-navigation home--background">
  <div class="navbar--title">
    <a href="/">
      <div class="logo"></div>
      <div class="logo-title">RDocumentation</div>
    </a>
  </div>

  <div class="home--cta">
    <h1>Search all 51,000 CRAN and BiOC packages and their versions.</h1>
    <div class="home--search">
      <input type="text" placeholder="Search for packages, functions, authors, etc">
    </div>
  </div>
</section>
<%- partial ('./shared/_footer.ejs') %>
