<section class="bg bg-navigation home--background">
  <nav class='navbar'>
    <% if(inViewerPane){ %>
      <div class="rstudio-navigation pull-left">
        <button class="btn btn-primary-light rstudio-navbutton rstudio-back"><i class="fa fa-chevron-left rstudio-back-arrow" style="font-size:15px"></i></button>
        <button class="btn btn-primary-light rstudio-navbutton rstudio-forward"><i class="fa fa-chevron-right rstudio-forward-arrow" style="font-size:15px"></i></button>
      </div>
    <% } %>
    <div class="home--title">
      <a href="/">
        <div class="logo"></div>
        <div class="logo-title"><span>RDocumentation</span></div>
      </a>
    </div>

    <% if(!inViewerPane) { %>
      <%- partial ('shared/_navigation.ejs') %>
    <% } %>
  </nav>

  <div class="home--cta">
    <h1>Search all <%= data.nbPackages %> CRAN, BioConductor and Github packages.</h1>
    <div class="home--search">
      <form class="search" action="/search" method="get">
        <input name="q" type="text" placeholder="Search for packages, functions, etc" autofocus autocomplete="off">
        <button class="btn btn-primary" type="submit">Search</button>
        <div class="search--results"></div>
      </form>
      <p class="home--taskviews">Or explore packages in one of the <a href="/taskviews">Task Views</a>.</p>
    </div>
  </div>

  <div class="home--leaderboard">
    <div class="home--tables">

      <div class='row'>
        <div class='col-md-4 home--leadertable'>
          <h3>Top 5 packages</h3>
          <table>
            <tbody>
              <tr><td>Rcpp</td></tr>
              <tr><td>dplyr</td></tr>
              <tr><td>tidyr</td></tr>
              <tr><td>devtool</td></tr>
              <tr><td>caret</td></tr>
              <tr><td>httr</td></tr>
            </tbody>
          </table>
        </div>
        <div class='col-md-4 home--leadertable'>
          <h3>Top 5 authors</h3>
          <table>
            <tbody>
              <tr><td>Hadley</td></tr>
              <tr><td>Dirk</td></tr>
              <tr><td>Muller</td></tr>
              <tr><td>Nick</td></tr>
              <tr><td>Romain</td></tr>
              <tr><td>Francois</td></tr>
            </tbody>
          </table>
        </div>
        <div class='col-md-4 home--leadertable'>
          <h3>Newest packages</h3>
          <table>
            <tbody>
              <tr><td>XRJulia</td></tr>
              <tr><td>pdp</td></tr>
              <tr><td>ecdfHT</td></tr>
              <tr><td>EffectStars2</td></tr>
              <tr><td>statcomp</td></tr>
              <tr><td>nearfar</td></tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

   <a class="home--apidoc btn btn-default" target="_blank" href="/docs">
      <i class="fa fa-cogs"></i>
      API documentation
  </a>
  <p class="home--credits">Created by <a href="https://www.datacamp.com">DataCamp.com</a></p>
</section>
