<section class="bg bg-navigation home--background">
  <nav class='navbar'>
    <% if(inViewerPane){ %>
      <div class="rstudio-navigation pull-left">
        <button class="btn btn-primary-light rstudio-navbutton rstudio-back"><i class="fa fa-chevron-left rstudio-back-arrow" style="font-size:15px"></i></button>
        <button class="btn btn-primary-light rstudio-navbutton rstudio-forward"><i class="fa fa-chevron-right rstudio-forward-arrow" style="font-size:15px"></i></button>
      </div>
    <% } %>
    <div class="home--title">
      <a href="/">
        <div class="logo"></div>
        <div class="logo-title"><span>RDocumentation</span></div>
      </a>
    </div>

    <% if(!inViewerPane) { %>
      <%- partial ('shared/_navigation.ejs') %>
    <% } %>
  </nav>

  <div class="home--cta">
    <h1>Search all <%= data.nbPackages %> CRAN, BioConductor and Github packages.</h1>
    <div class="home--search">
      <form class="search" action="/search" method="get">
        <input name="q" type="text" placeholder="Search for packages, functions, etc" autofocus autocomplete="off">
        <button class="btn btn-primary" type="submit">Search</button>
        <div class="search--results"></div>
      </form>
      <p class="home--taskviews">Or explore packages in one of the <a href="/taskviews">Task Views</a>.</p>
    </div>
  </div>

   <a class="home--apidoc btn btn-default js-external" target="_blank" href="/docs">
      <i class="fa fa-cogs"></i>
      API documentation
  </a>
  <p class="home--credits">Created by <a href="https://www.datacamp.com">DataCamp.com</a></p>
</section>
