<section class="bg bg-navigation home--background">
  <div class="home--title">
    <a href="/">
      <div class="logo"></div>
      <div class="logo-title">RDocumentation</div>
    </a>
  </div>

  <div class="home--cta">
    <h1>Search all 51,672 CRAN and BiOC packages and their versions.</h1>
    <div class="home--search">
      <form class="search" action="">
        <input type="text" placeholder="Search for packages, functions, authors, etc" autofocus>
        <ul class="results">
          <li class="header">Packages</li>
          <li><a href="#">dplyr</a></li>

          <li class="header">Functions</li>
          <li><a href="#">hist<span>{base}</span></a></li>
          <li><a href="#">rnorm<span>{base}</span></a></li>
          <li><a href="#">abs<span>{base}</span></a></li>
        </ul>
      </form>
    </div>
  </div>

  <p class="home--credits">Created by <a href="https://www.datacamp.com">DataCamp.com</a></p>
</section>
