files:
        "/etc/cron.d/docker-cleanup":
                mode: "000644"
                owner: root
                group: root
                content: "0 * * * * root /var/lib/docker-cleanup/docker_cleanup.sh --actually-run 3"

        "/var/lib/docker-cleanup/docker_cleanup.sh":
                mode: "000755"
                owner: root
                group: root
                source: https://bitbucket.org/datamind/docker-cleanup/raw/master/docker_cleanup.sh
