<% var user = data; %>
<% var reviews = user.reviews; %>
<section class="user">
  <div class="container">
    <header>
      <h1><%- user.username %></h1>
    </header>

    <section class="user--reviews">
      <h3>My Reviews</h3>
      <div class="user--reviews-content">
        <% if(reviews.length === 0) { %>
          <div class="review--placeholder">Looks like there are no reviews yet.</div>
        <% } %>
        <% for(var i=0; i < reviews.length; i++) { %>
          <% var reviewUser = null; %>
          <% var reviewTarget = (reviews[i].package_version || reviews[i].topic); %>
          <%- include ../shared/_review.ejs %>
        <% } %>
      </div>
    </section>

  </div>
</section>
