.loader-outer {
    display: table;
    height: 100%;
    width: 100%;
}

.loader-middle {
    display: table-cell;
    vertical-align: middle;
}

.loader {
    margin-left: auto;
    margin-right: auto;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid $primary;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
