.search {
    position: relative;
    display: flex;
    input {
        background-color: white;
    }

    button {
        margin-left: $default-space / 4.0;
    }
}

.search--results {
    display: none;
    position: absolute;
    overflow:auto;
    top: 60px;
    left: 0;
    right: 0;
    z-index: $z-max;
    padding: 0.5rem;
    font-size: 0.85rem;
    border-radius: $border-radius;
    background-color: $primary-ultra-light;
    border: 1px solid #c4c7d7;

    ul {
        margin: 0;
        padding: 0;
    }
    li { display: block }
    li:last-child a {
        border-bottom-left-radius: $border-radius;
        border-bottom: none;
        border-bottom-right-radius: $border-radius;
    }

    .header {
        color: $text-secondary;
        padding: 6px 40px 6px 10px;
        margin-top: 1rem;
        margin-bottom: 0;
        font-weight: bold;
        border-bottom: 1px solid $primary-extra-light;
        &:first-child { margin-top: 0; }
    }

    a {
        display: block;
        position: relative;
        margin: 0;
        padding: 0.5rem 1rem;
        color: $text-secondary;
        font-weight: 500;
        border: none;

        span {
            font-weight: 200;
            float: right;
            color: $text-tertiary;
        }
    }
    a.hover {
        text-decoration: none;
        background-color: $primary-extra-light;
    }

    .placeholder {
        text-align: center;
        margin: 0;
    }
}

// The small arrow
.search--results li:first-child:before, .search--results li:first-child:after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    position: fixed;
    left: 50%;
    margin-left: -5px;
    border: 5px outset transparent;
}

.search--results li:first-child:before {
    border-bottom: 5px solid #c4c7d7;
    top: -11px;
}

.search--results li:first-child:after {
    border-bottom: 5px solid #fdfdfd;
    top: -10px;
}
// End arrow