<%- partial ('../shared/_navbar.ejs') %>
<section class="package">
  <div class="container">
    <header>
      <h4>Do you want to make Rdocumentation your default help package?</h4>
    </header>
    <a href="javascript:;" onclick="window.setDefault();" class="btn btn-primary">Yes</a>
    <a href="javascript:;" onclick="window.hideViewer();" class="btn btn-primary">No</a>
  </div>
</section>
<%- partial ('../shared/_footer.ejs') %>