<%- partial ('../shared/_navbar.ejs') %>
<section class="package">
  <div class="container">
    <header>
      <h4>Do you want to make Rdocumentation your default help package?</h4>
    </header>
    <a href="NULL" id="js-makedefault" class="btn btn-primary js-external">Yes</a>
    <a href="NULL" id="js-hideviewer" class="btn btn-primary js-external">No</a>
  </div>
</section>
<%- partial ('../shared/_footer.ejs') %>