<section class="package">
  <div class="container">
    <header>
      </br>
      <h5 class="center">Do you want to make RDocumentation your default help package?</h5>
    </header>
    <p>
    The RDocumentation package enhances the normal R help function by searching in the online database instead of your local database, providing an easy way to install packages and execute the examples on function-pages and more. Making this package your default package will provide the help pages on RDocumentation when you are online, and will automatically fall back on the normal help function if you are offline.
    </p>
    <div class="center">
	    <button type="button" id="js-makedefault" class="btn btn-primary js-external">Make default package</button>
	    </br>
	    </br>
	    <button type="button" id="js-hideviewer" class="btn btn-secondary-light js-external">Proceed without making default</button>
	</div>
  </div>
</section>
