<%- partial ('../shared/_navbar.ejs') %>
<section class="package">
  <div class="container">
    <header>
      <h4>Do you want to make Rdocumentation your default help package?</h4>
    </header>
    <button type="button" id="js-makedefault" class="btn btn-primary js-external">Yes</button>
    <button type="button" id="js-hideviewer" class="btn btn-primary js-external">No</button>
  </div>
</section>
<%- partial ('../shared/_footer.ejs') %>