<section class="package">
  <div class="container">
    <header>
      </br>
      <h5 class="center">Please update your RDocumentation package</h5>
    </header>
    <p>
    You are using an outdated version of the RDocumentation package, to continue to use RDocumentation inside RStudio, please update your package.
    </p>
    <div class="center">
      <button type="button" id="js-update_rdoc" class="btn btn-primary js-external">Update RDocumentation</button>
      </br>
  </div>
  </div>
</section>
