<%- partial ('../shared/_navbar.ejs') %>
<div class='search-result'>
  <div class="container">
    <h3>Search Results for <%- data.query %></h3>
    <hr>
    <div class="row search-result--data">
      <div class="col-md-6">
      <h4>Packages</h4>
        <div class = "packagedata">
        </div>
        <div class="search-result--pagination packagepages">
        </div>
      </div>
      <div class="col-md-6">
      <h4>Functions</h4>
        <div class = "functiondata">
        </div>
        <div class="search-result--pagination functionpages">
        </div>
      </div>
    </div>
    <div id = "searchtabs" class="search-result--data">
      <ul>
        <li><a id = "packagetab">Packages</a></li>
        <li><a id = "functiontab">Functions</a></li>
      </ul>
      <div id="packages">
        <div class="packagedata">
        </div>
        <div class="search-result--pagination packagepages">
        </div>
      </div>
      <div id="functions">
        <div class = "functiondata">
        </div>
        <div class="search-result--pagination functionpages">
        </div>
      </div>
    </div>
  </div>
</div>

<%- partial ('../shared/_footer.ejs') %>
