.collaborator {
  min-height: 82%;
  .container {
    margin-top: $default-space;
  }

  header img,
  header h1 {
    display: inline-block;
    vertical-align: middle;
  }
}

.collaborator--maintainer {
  @include clearfix;
  margin-top: $default-space;

  .maintained-package {
    height: 270px;
    select {
      display: inline-block;
      font-size: 0.7rem;
    }

    dl {
      font-size: 0.8rem;
      dd {
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }

}
.collaborator--author {
  @include clearfix;
  margin-top: $default-space;

  .authored-package {
    height: 270px;
    select {
      display: inline-block;
      font-size: 0.7rem;
    }

    dl {
      font-size: 0.8rem;
      dd {
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
}
