.collaborator {
  min-height: 82%;
  .container {
    margin-top: $default-space;
    margin-left: 5em;
  }
  .contributions{
    margin-top: 0em;
    margin-left: 0em;
  }

  header img,
  header h1 {
    display: inline-block;
    vertical-align: middle;
  }

}

.collaborator--maintainer {
  @include clearfix;
  margin-top: 0em;

  .maintained-package {
    margin-top: 3em;
    select {
      display: inline-block;
      font-size: 0.7rem;
    }

    dl {
      font-size: 0.8rem;
      dd {
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }

}
.collaborator--author {
  @include clearfix;
  margin-top: $default-space;

  .authored-package {
    height: 270px;
    select {
      display: inline-block;
      font-size: 0.7rem;
    }

    dl {
      font-size: 0.8rem;
      dd {
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
}

.impact-info {
  margin-left:10px;
}
span.collaborator-type i.fa.fa-user {
  font-size: 1.2rem;
}

span.collaborator-type, span.repo-type {
  margin-left: 5px;
}

span.repo-type {
  text-transform: capitalize;
  font-weight: 200;
}

.collaborator--package-title {
  display: inline-block;
}

.collaborator--package-description {
  margin-right: 80px;
  line-height: 1.5rem;
  min-height: 4.5rem;
  overflow:hidden;
  cursor: pointer;
}

.name{
  h1{
    font-size: 30px;
  }
  display: inline-block;
  width: 200px;
  vertical-align: top;
}

.info{
  width:60px;
  line-height: 100%;
  display: inline-block
}

.infonr{
  margin-top : 0em;
  font-size  : 2em;
}

.details{
  display: flex;
  align-items: center;
}

.top-collab-list{
margin-top: 3em;
margin-bottom: 2em;
  a{
    display: block;
    font-size: 1.25em;
    text-decoration: none;
    border-bottom: none;
  }
}
