.collaborator {
  min-height: 82%;
  .container {
    margin-top: $default-space;
  }

  header img,
  header h1 {
    display: inline-block;
    vertical-align: middle;
  }
}

.collaborator--maintainer,
.collaborator--author {
  @include clearfix;
  margin-top: $default-space;
}