.user-examples {
  margin-top: $default-space;
  h3 {
    margin-bottom: $default-space / 2.0;
  }
}
// ********************
// One review
// ********************
.example {
  margin-bottom: 1rem;
  border: 1px solid $primary-extra-light;
  border-radius: 4px;
}

.example--title {
  padding: 1rem;
  background-color: $primary-ultra-light;
  border-bottom: 1px solid $primary-extra-light;
  .rating {
    margin: 0 1rem;
  }
}

.example--body {
  padding: 1rem;
  p {
    margin: 0;
    white-space: pre;
  }
}

// ********************
// Placeholder if there are no examples
// ********************
.example--placeholder {
  border: 1px solid $primary-extra-light;
  border-radius: 4px;
  padding: 1rem;
  background-color: $primary-ultra-light;
  margin-bottom: 1rem;
}

// ********************
// Form to create a example
// ********************
.example--form {
  margin-top: $default-space;
  fieldset {
    width: 100%;
  }
}

$filled-star-color: black;
$empty-star-color: black;
$star-size: 17px;

.example--form-title {
  padding: 1rem;
  background-color: $primary-ultra-light;
  border-bottom: 1px solid $primary-extra-light;
}

.example--form-body {
  padding: 1rem 0;
}

.editor-toolbar.fullscreen, .CodeMirror-fullscreen, .editor-preview-side {
  margin-top: 30px !important;
}

.buttons{
  font-size : 1.5em;
  margin-top : -5px;
  float : right;
}

.submit-edit{
  margin-top: 1.5em;
}

.edit-example{
  margin-right: 5px;
}

.edit-example:hover, .delete-example:hover{
  cursor: pointer;
}