#header{
    font-size: small;
    padding: 0.2em;
    background-color: $primary;
    background-image: linear-gradient(transparent 90%, rgba(0,0,0,0.01)),linear-gradient(173deg, #3AAACA, #2389B1);
    color: $text-invert;
    p a {
        transition: color $default-duration ease-out;
        color: $accent;
        border-bottom:1px solid $accent;
        &:hover, { color: $accent-light; }
        &:focus { color: $accent-light; border-bottom: 1px solid $accent-light; outline: none }
    }
}