.home--background {
    position: fixed;
    width: 100%;
    height: 100%;
}

.home--cta {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    text-align: center;

    h1 {
        font-size: $h2-size;
    }
}

.home--search {
    width: 30%;
    margin: 2rem auto;
    min-width: 300px;
    text-align: left;
}

.home--taskviews {
    display: block;
    margin-bottom: 0;
    margin-top: 0.5rem;
}

.home--title {
    @extend .navbar--title;
    .logo-title {
        font-size: $h4-size;
    }
}

.navbar--title.home--title{
    margin-top: -8px;
}


.home--credits {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
}

.home--apidoc {
  color: white;
  bottom: 0;
  position: absolute;
  margin-bottom: 7px;
}

@media (max-height: 420px){
    .home--cta{
        top: initial;
        transform: initial;
        h1{
            font-size: 2em;
        }
    }
}
