.package--downloads {
  margin-top: $default-space;
  #chart svg, #trendingdownloads svg, #topkeywords svg, #bioc_chart svg{
    height: 400px;
  }

  .tabs--content {
    height: 450px;
  }
}

.package-details-info {
  table {
    border-bottom: none;
    table-layout: fixed;
    overflow: hidden;
    font-size: 1rem;
    tr td:first-child {
      width: 30%;
      font-weight: 600;
    }
    tr td {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}
.package-details-dependencies {
  table {
    border-bottom: none;
    table-layout: fixed;
    tr td:first-child {
      width: 30%;
      font-weight: 600;
      text-transform:capitalize;
    }
  }
}


.package-details--contr {
  h5 {
    display: inline;
  }
  ul {
    padding-left: 1rem;
    list-style: none;
    display: inline;
    li {
      display: inline
    }
  }
}

.hidden{
  display:none;
}

.sliding {
  display: none;
}

.slider {
  font-size: 2.5rem;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.slider-icon {
  position: relative;
  left: 48%;
  font-size: 2.5rem !important;
  padding-left: 20px;
  padding-right: 20px;
  background-color: white;
  cursor: pointer;
}

.slider-border {
  position:relative;
  top:17px;
  border-top: 3px solid #ebf4f7;
}

#tabs {
  background: transparent;
  border: none;
  margin-top: $default-space;
}
#tabs .ui-widget-header {
  background: transparent;
  border: none;
  border-bottom: 1px solid #c0c0c0;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
#tabs .ui-tabs-nav .ui-state-default {
  background: transparent;
  border: none;
}
#tabs .ui-tabs-nav .ui-state-default a {
  color: #c0c0c0;
  border-bottom: none;
}
#tabs .ui-tabs-nav .ui-state-active a {
  color: black;
  border-bottom: none;
}
