#parent {
  display: flex;
  max-height: calc(100vh - 200px);
}
#tree {
  width: 200px;
  overflow: hidden;
  display: none;
  overflow: auto;
  height: auto;
  .list-group {
    margin-top: -0.5px;
    overflow: hidden;
    li:last-child {
      margin-bottom: 0px;
    }
  }
  .node-tree:not(.node-selected){
    .glyphicon:before{
      color: #3ac;
    }
  }
}
#source-container {
  flex: 1;
  height: auto;
  overflow: auto;
  display: none;
  pre{ 
    margin-top: 0px;
  }
}
#source-not-found {
  display:none;
}
.source{
    max-height: calc(100vh - 100px);
}

.scroll::-webkit-scrollbar {
  width: 5px;
  margin-top: -5px;
}
 
.scroll::-webkit-scrollbar-track {
  background: #ddd;
}
 
.scroll::-webkit-scrollbar-thumb {
  background: #666; 
}