.package {
  min-height: 82%;
  .container {
    margin-top: $default-space;
  }

  header {
    @include clearfix;

    h1 {
      display: inline-block;
      vertical-align: middle;
    }

    select {
      margin-left: 1rem;
      display: inline-block;
    }

    .rating {
      margin-left: 1rem;
    }
  }

}

.package--stats {
  dd a {
    margin-right: $default-space / 3.0;
    &:last-child {
      margin-right: 0;
    }
  }
}

.package--info {
  margin-top: $default-space;
}

.package--dependencies {
  margin-top: $default-space;
}

.rating {
  display: inline-block;
}
