.package-header {
  @include clearfix;

  h1 {
    display: inline-block;
    vertical-align: middle;
  }

  .rating {
    margin-left: 1rem;
  }
  i.fa {
    display: inline-block;
  }

  #percentile-arrow{
    margin-left: 0rem;
    margin-top: 0.65rem;
  }

  .col-sm-3 {
    margin-top: 0.5rem;
  }
  .upvotePackage {
    cursor: pointer;
    padding: 5px;
    font-size: 2rem;
    &[upvoted="false"]:hover, &[upvoted="true"] {
      color: $primary;
    }
    &[upvoted="true"]:hover, &[upvoted="false"] {
      color: inherit;
    }
  }

  .star-count {
    display: inline-block;
    font-size: 2rem;
    vertical-align: baseline;
  }
  .package--header-content {
    margin-top: 2rem;
    border-bottom: 2px solid #ebf4f7;
    padding-bottom: 10px;
  }
}

.ph-flex-position {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

.package--title--container {
  display: flex;
  align-items: baseline;
  margin-bottom: $default-space;
}

.package--navigation {
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      display: inline;
    }
  }
}

.package--maintainer {
  font-size: 1rem;
  margin-left: 0.5rem;
}

.package--title {
  margin: 0;
  font-size: 4rem;
}
.package--version--v {
  font-size: 1.5rem
}
.package--version--select {
  font-size: 1rem;
  margin-left: 0.5rem;
  select {
    padding: 0.4rem;
  }
}

#openModalUpvote{
  color: inherit;
  border-bottom: none;
}
