.package {
  min-height: 82%;
  .container {
    margin-top: $default-space;
  }

  header {
    @include clearfix;

    h1 {
      display: inline-block;
      vertical-align: middle;
    }

    select {
      margin-left: 1rem;
      display: inline-block;
    }

    .rating {
      margin-left: 1rem;
    }
  }

}

.package--stats {
}

.package--info {
  margin-top: $default-space;
}

.package--topics {
  input {
    width: 300px;
    padding: 0.375em 0.75em;
    margin: $default-space  auto $default-space / 2.0 auto;
  }
}

.package--dependencies {
  margin-top: $default-space;
}

.rating {
  display: inline-block;
}
