#parent {
  padding: 10px;
  width: 100%;
  display: flex;
  max-height: calc(100vh - 180px);
}
#tree {
  width: 200px;
  overflow: hidden;
  display: none;
  overflow: auto;
  height: auto;
  .list-group {
    margin-top: -0.5px;
    overflow: hidden;
    li:last-child {
      margin-bottom: 0px;
    }
  }
  .node-tree:not(.node-selected){
    .glyphicon:before{
      color: #3ac;
    }
  }
}
.source-header {
  @include clearfix;
  width: 100%;

  h1 {
    display: inline-block;
    vertical-align: middle;
    margin: 0.25em 0;
  }

  .source-header-content {
    width: 100%;
    padding-top: 15px;
    border-bottom: 2px solid #ebf4f7;
    padding-bottom: 10px;
  }
}
.source--title--container {
  display: flex;
  align-items: baseline;
  margin-bottom: 1rem;
}
#source-container {
  flex: 1;
  height: auto;
  overflow: auto;
  display: none;
  pre{
    margin-top: 0px;
  }
  td.hljs-ln-numbers {
	  -webkit-touch-callout: none;
	  -webkit-user-select: none;
	  -khtml-user-select: none;
	  -moz-user-select: none;
	  -ms-user-select: none;
	  user-select: none;

	  text-align: center;
	  color: #ccc;
	  border-right: 1px solid #CCC;
	  vertical-align: top;
	  padding-right: 5px;

	  /* your custom style here */
    }
    td.hljs-ln-code {
	    padding-left: 10px;
    }
    pre code.hljs{
      padding: 0px;
    }
    tr:nth-of-type(2n){
        background: #f6f7f9;
    }
}
#source-not-found {
  display:none;
}
.source{
    max-height: calc(100vh - 100px);
}

.scroll::-webkit-scrollbar {
  width: 5px;
  margin-top: -5px;
}

.scroll::-webkit-scrollbar-track {
  background: #ddd;
}

.scroll::-webkit-scrollbar-thumb {
  background: #666;
}
