.reviews {
  margin-top: $default-space;
  h3 {
    margin-bottom: $default-space / 2.0;
  }
}
// ********************
// One review
// ********************
.review {
  margin-bottom: 1rem;
  border: 1px solid $primary-extra-light;
  border-radius: 4px;
}

.review--title {
  display: flex;
  padding: 1rem;
  background-color: $primary-ultra-light;
  border-bottom: 1px solid $primary-extra-light;
  .rating {
    margin: 0 1rem;
  }
}

.review--body {
  padding: 1rem;
  p { margin: 0; }
}

// ********************
// Placeholder if there are no reviews
// ********************
.review--placeholder {
  border: 1px solid $primary-extra-light;
  border-radius: 4px;
  padding: 1rem;
  background-color: $primary-ultra-light;
  margin-bottom: 1rem;
}

// ********************
// Form to create a review
// ********************
.review--form {
  margin-top: $default-space;
  border: 1px solid $primary-extra-light;
  border-radius: 4px;
}

$filled-star-color: black;
$empty-star-color: black;
$star-size: 17px;
.review--form-rating {
  direction: rtl;
  font-size: $star-size;
  unicode-bidi: bidi-override;
  position: relative;
  .star {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    &:hover {
      cursor: pointer;
    }
    &:before {
      color: $empty-star-color;
      content: "\f006";
    }
    &:hover:before,
    &:hover ~ .star:before {
      color: $filled-star-color;
      content: "\f005";
    }
  }

  .rating-input {
    padding: 0;
    left: -1000px;
    position: fixed;
    opacity: 0;
  }

  .rating-input:checked ~ .star:before {
    color: $filled-star-color;
    content: "\f005";
  }
}

.review--form-title {
  padding: 1rem;
  background-color: $primary-ultra-light;
  border-bottom: 1px solid $primary-extra-light;
}

.review--form-body {
  padding: 1rem;
  .btn {
    width: 200px;
  }
}