.search-result {
  .container {
    margin-top: $default-space;
  }
  h4{
    margin-bottom: 1em;
    margin-top : 0em;
  }
}

.search-result--item {
  border-bottom: 1px solid $primary-extra-light;
  margin-bottom: 1.5 * $default-space;

  dl {
    margin-top: $default-space / 2.0;
    dt {
      text-transform: capitalize;
    }
    dd {
      margin-left: 200px;
    }
  }

  &:last-child {
    border-bottom: none;
  }
}

.search-result--item-header {
  font-size: 1.25rem;
  span a {
    color: $text-tertiary;
    font-size: $default-font-size * 0.9;
    border-bottom: none;
  }
}

.search-result--index {
  color: $text-secondary;
}

.search-result--pagination {}
