.search-result {
  .container {
    margin-top: $default-space;
  }
  .search-result-item {
    margin-top: 30px;
    border-top: 1px solid #cdcdcd;
    padding-top: 30px;

    .highlight-title {
      text-transform: capitalize;
      margin-top: 2em;
    }
  }

}
