.sliding-sidebar{
  position: fixed;
  height: 100%;
  width:265px;
  padding-right: 15px;
  overflow-y: auto;
}

.sidebar-slider-icon{
  font-size: 2.5rem;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  cursor: pointer;
}

.list-group-item {
  position:relative;
  display:block;
  padding:10px 15px;
  margin-bottom:-1px;
  background-color:#fff;
  border:1px solid #ddd
}

a.list-group-item{
  color: #666666;
}

.list-group{
  padding-left:0;
  overflow-y: scroll;
}

.list-group-item.highlight{
  background-color: #f5f5f5
}

.list-group .list-group-item:hover{
  background-color: #f5f5f5
}
