.task-views {
  .container {
    margin-top: $default-space;
  }

  .view-item {
    margin-bottom: $default-space;
    border: 1px solid #ebf4f7;
    border-radius: 4px;
    padding: 1rem;
    background-color: #fafeff;
    p {
      word-break: normal;
    }
  }
}

.task-views--header {
  font-size: $h3-size;
  margin-bottom: $default-space;
}

.view-item .downloads {
  float: right;
}
.view-item .downloads-nr {
  display: inherit;
  span {
    display: block;
  }
  span:first-child {
    font-size: 1.2rem;
  }
}

.view-item--header {
  @include clearfix;
}
.view-item--packages {
  margin-top: 1rem;
}

.list-group-item{
  position:relative;
  display:block;
  padding:10px 15px;
  margin-bottom:-1px;
  background-color:#fff;
  border:1px solid #ddd
}

.task-views .row{
  margin-right: 0;
}

a.list-group-item{
  color: #666666;
}

.list-group{
  padding-left:0;
  overflow-y: scroll;
  height : 80vh;
}