.topic-header {
  margin-bottom:15px;
  @include clearfix();

  .container {
    position: relative;
  }

}

.th--pkg-info {
  font-size: 1.2rem;
  font-weight: 400;
  background-color: $primary-extra-light;
  border-radius: 5px;
  padding: 10px;

  position: absolute;
  top: 27px;
  right: 15px;
}

.th--origin {
  display: inline-block;
  span {
    display: block;
  }
}

.th--percentile {
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
  font-weight: 200;
}
