.topic {
  min-height: 84%;
  .container-fluid {
    margin-top: $default-space;

    margin-left: auto;
    margin-right: auto;
    max-width: 1080px;
    min-width: 350px;
  }

  header {
    @include clearfix;

    h1 {
      display: inline-block;
      vertical-align: middle;

      span {
        font-size: $default-font-size;
        font-weight: 300;
        margin-left: 1rem;
      }
    }
  }

  h5 {
    text-transform: capitalize;
  }

  section.topic--value {
    dl {
      dd {
        float: none;
      }
      dt {
        float: none;
      }
    }
    ul {
      @include clearfix;
      display: block;
      list-style: none;
      margin-top: 1em;
      margin-bottom: 1em;
      margin-left: 0;
      margin-right: 0;
      padding-left: 0;

      li {
        margin-bottom: 1rem;
        name {
          display: block;
          font-weight: bold;
          float: left;
        }

        description {
          display: block;
          margin-left: 40px;
          margin-left: 130px;
        }
      }

    }

  }

}

.topic--title {
  margin-top: $default-space;
}

