.topic-header {
  margin-bottom:15px;
}

.th--flex-position {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  flex-flow: row wrap;
}

.th--pkg-info {
  font-size: 1rem;
  background-color: #ebf4f7;
  border-radius: 5px;
  padding: 6px;
  display: flex;
  align-items: center;
}

.th--origin span {
  display: block;
}

.th--percentile {
  margin-left: 20px;
  font-weight: 200;
}
