.row.top10{
  margin-bottom: 5em;
  margin-top: 2em;
}
.info{
  float: right;
  margin-top :0em;
  margin-bottom :0em;
}

.top10 .col-md-3 {
  margin-top: 2rem;
}

.trends {
  #topkeywords {
    height: 400px;
  }
  #trendingdownloads {
    height: 400px;
  }
}
