<div class="sliding-sidebar">
  <div class="list-group-item">
    <h4 class="text-center">Task View</h4>
  </div>
  <div class="list-group">
    <% for(var i = 0; i<data.length;i++){ %>
      <a href="#" class="list-group-item"><%- data[i].name %></a>
    <% } %>
  </div>
  <div class="sidebar-slider-icon"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
</div>
