<section class="task-views">
    <div id ="sidemenu">
      <div class = "list-group-item" id ="listtitle">
        <h4>Task View</h4>
      </div>
      <div class = "list-group">
        <% for(var i = 0; i<data.length;i++){ %>
          <a class = "list-group-item"><%- data[i].name %></a>
        <% } %>
      </div>
    </div>
    <div class="view">
      
    </div>
</section>

