<section class="task-views">
  <div class="row">
    <div class="col-md-3">
      <div id ="sidemenu">
        <div class = "list-group">
          <% for(var i = 0; i<data.length;i++){ %>
            <a href="#" class = "list-group-item"><%- data[i].name %></a>
          <% } %>
        </div>
      </div>
    </div>
    <div class="col-md-9 view">
      
    </div>
  </div>
</section>

