<% var pkgVersion = data; %>
<section class="source">
  <header class="source-header">
    <div class='source-header--title'>
      <a class="btn btn-small btn-secondary-light" href=<%= data.uri %>><i class="fa fa-chevron-left" aria-hidden="true"></i>
 Back to <%- pkgVersion.package_name %></a>
    </div>
  </header>

  <div class="source--explorer" id="parent">
    <div class="source--tree" id="tree" class="scroll" data-package-name="<%= pkgVersion.package_name %>" data-package-version="<%= pkgVersion.version %>"></div>
    <div class="source--code" id="source-container" class="scroll">
      <!-- Don't add a space or return within the pre tags -->
          <pre><code class="R" id="code"></code></pre>
    </div>
    <div id="source-not-found"><h1>No Source Code Found.</h1></div>
  </div>

</section>
