<% var source = data; %>
<section class="package">
  <header class="vignette-header">
    <div class="vignette--header-content container">
      <div class="ph-flex-position">
        <div> <!-- Do not remove this div, needed for ph-flex-position -->
          <div class='vignette--title--container'>
            <h1 class= 'vignette--title' itemprop="name">TODO
          </div>
        </div>
      </div>
    </div>
  </header>
  <div id="tree"></div>
  <div class="container">
    <!-- Don't add a space or return within the pre tags -->
        <pre><code class="R" id="code"></code></pre>
  </div>

</section>
