<% var pkgVersion = data; %>
<section class="source">
  <header class="vignette-header">
    <div class="vignette--header-content container">
      <div class="ph-flex-position">
        <div> <!-- Do not remove this div, needed for ph-flex-position -->
          <div class='vignette--title--container'>
          <h1 class= 'package--title' itemprop="name"><%- pkgVersion.package_name %>
          <span class='package--version--v'>v<%= pkgVersion.version %></span></h1>
              
          </div>
        </div>
      </div>
    </div>
  </header>
  
  <div id="parent" class="container">
    <div id="tree" class="scroll" data-package-name="<%= pkgVersion.package_name %>" data-package-version="<%= pkgVersion.version %>"></div>
    <div id="source-container" class="scroll">
      <!-- Don't add a space or return within the pre tags -->
          <pre><code class="R" id="code"></code></pre>
    </div>
    <div id="source-not-found"><h1>No Source Code Found.</h1></div>
  </div>

</section>
