<% var files = data; %>
<section class="package">
  <header class="vignette-header">
    <div class="vignette--header-content container">
      <div class="ph-flex-position">
        <div> <!-- Do not remove this div, needed for ph-flex-position -->
          <div class='vignette--title--container'>
            <h1 class= 'vignette--title' itemprop="name"><%- files.dir %>
          </div>
        </div>
      </div>
    </div>
  </header>
</section>
  <div class="container">
      <div class="package--vignette">
        <table class = "packagetable">
        <thead>
          <tr>
            <td>Name <i class="fa fa-sort" aria-hidden="true"></i></td>
          </tr>
        </thead>
        <tbody>
          <% for(var i = 0; i < files.fileList.length; i++) { %>
            <% var file = files.fileList[i]; %>
            <tr>
              <td><a href="<%= file.url %>"><%= file.name %></a></td>
            </tr>
          <% } %>
          <tr class="no-results"><td colspan="3">No Results!</td></tr>
        </tbody>
      </table>
    </div>
  </div>

</section>
