<%- partial ('../shared/_navbar.ejs') %>
<section class="package">
  <div class="container">

    <section>
      <h4>Top 10 downloads per day</h4>
    </section>
    <div id="trendingdownloads" style="display: none" data-url="/api/trends/download">
      <svg></svg>
    </div>

    <section>
      <h4>Top RDocumentation keywords</h4>
    </section>
    <div id="topkeywords" style="display: none" data-url="/api/trends/keyword">
      <svg></svg>
    </div>

    <section>
      <h4>Dependency graph for top 10 direct downloads</h4>
    </section>
    <div id="dependencygraph" style="display: none" data-url="/api/trends/graph">
      <svg></svg>
    </div>

  </div>
</section>

<%- partial ('../shared/_footer.ejs') %>
