<%- partial ('../shared/_navbar.ejs') %>
<section class="package">
  <div class="container">

    <div id="trendingdownloads" style="display: none" data-url="/api/trends/download">
      <svg></svg>
    </div>

  </div>
</section>

<%- partial ('../shared/_footer.ejs') %>
